      </div> <!-- for container div -->
      
      
      <!--for bootstrap-dialog (modals)-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js"></script>
  </body>
</html>