<table class="table table-hover table-bordered" id="resources-table">
        <tr>
            <th>Resource</th>
            <th>Quantity</th>
            <th>Rate (/sec)</th>
        </tr>
        
            <% for (var resource in resource_list){%>
                <tr>
                    <td><%= resource %></td>
                    <td><%= resource_list[resource].quantity %></td>
                    <td><%= resource_list[resource].rate %></td>
                </tr>
            <% }; %>
        
    </table>